:host {
  .add-post-page {
    &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 20px;
      border: 1px solid var(--color-line)!important;
    }

    &__btns {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__form-field {
      ::ng-deep {
        // Manipulate initial background color
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
          background-color: transparent;
        }

        // Manipulate background color on hover and focus
        .mat-mdc-form-field-focus-overlay {
          background-color: transparent;
        }
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
          border: none!important;

          .mat-mdc-form-field-input-control.mdc-text-field__input,
          .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
            height: 100%!important;
            font-size: 25px!important;
            font-weight: 700;
          }
        }

        .mdc-text-field__input {
          &::placeholder {
            font-size: 25px;
            font-weight: 700;
            color: #878383!important;
          }
        }

        .mat-mdc-form-field-infix {
          height: 75px!important;
        }
      }
    }

    &__chip-list {
      ::ng-deep {
        // Manipulate initial background color
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
          background-color: transparent;
        }

        // Manipulate background color on hover and focus
        .mat-mdc-form-field-focus-overlay {
          background-color: transparent;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
          border: none!important;
        }

        .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
          font-family: var(--bs-font-family), sans-serif;
        }

        .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__action--primary::before {
          border: none!important;
          background-color: #ededee;
        }

        .mat-mdc-form-field-infix {
          min-height: 75px!important;
          height: auto!important;
        }

        .mdc-text-field__input {
          &::placeholder {
            color: #878383!important;
          }
        }
      }
    }
  }
}
