.article-comments {
  padding: 30px;
  background-color: var(--bs-secondary-background-color);
  border: 1px solid var(--color-line);
  border-radius: 20px;
  overflow: hidden;

  &__title {
    margin-bottom: 30px!important;
    font-size: 18px!important;
    font-weight: 600!important;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    gap: 10px;
  }

  &__avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid var(--color-line);
  }

  &__comment-title {
    font-weight: 600!important;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__form-field {
    width: 100%;

    textarea {
      height: 150px!important;
    }
  }
}
