.mat-mdc-dialog-container {
  .mat-mdc-dialog-title {
    font-family: var(--bs-font-family), sans-serif!important;
    font-size: 25px!important;
    font-weight: 700!important;
    color: var(--bs-font-color)!important;
  }

  .mat-mdc-dialog-content {
    font-family: var(--bs-font-family), sans-serif!important;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 5px 20px 5px 20px!important;
}
