.ql-toolbar.ql-snow {
  background-color: #efefef;
  border-radius: 8px;
  border: none!important;
}

.ql-container.ql-snow {
  background-color: #fff;
  border: none!important;
}

.ql-editor {
  min-height: 350px;
}
