.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
  }

  &__item {
    padding: 20px 15px;
    background-color: var(--bs-secondary-background-color);
    border: 1px solid var(--color-line);
    border-radius: 20px;
  }

  &__item-body {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
