:host {
  display: block;
  padding: 20px 0;
  color: var(--bs-font-color-gray);
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  font-size: 12px;

  &__item {
    display: flex;
    gap: 10px;
  }

  &__link {
    color: var(--bs-color-blue);
  }
}
