<div class="skeleton-container">
  <!-- Левая часть: карточка статьи -->
  <div class="skeleton-card">
    <div class="skeleton-image"></div>

    <div class="skeleton-meta">
      <div class="skeleton-avatar"></div>
      <div class="skeleton-author-info">
        <div class="skeleton-line short"></div>
        <div class="skeleton-line xshort"></div>
      </div>
    </div>

    <div class="skeleton-title"></div>

    <div class="skeleton-tag-list">
      <div class="skeleton-tag"></div>
      <div class="skeleton-tag"></div>
      <div class="skeleton-tag"></div>
    </div>

    <div class="skeleton-stats">
      <div class="skeleton-icon"></div>
      <div class="skeleton-line xshort"></div>
      <div class="skeleton-icon"></div>
      <div class="skeleton-line xshort"></div>
    </div>
  </div>


  <!-- Правая часть -->
  <div class="skeleton-sidebar">
    <!-- Теги -->
    <div class="skeleton-tags">
      <div class="skeleton-tag-title"></div>
      <div class="skeleton-tag-list">
        <div class="skeleton-tag"></div>
        <div class="skeleton-tag"></div>
        <div class="skeleton-tag"></div>
        <div class="skeleton-tag"></div>
      </div>
    </div>

    <!-- Комментарии -->
    <div class="skeleton-comments">
      @for (i of [1,2,3];track i) {
        <div class="skeleton-comment">
          <div class="skeleton-avatar"></div>
          <div class="skeleton-comment-text">
            <div class="skeleton-line short"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line medium"></div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
