<div class="article-skeleton">
  <div class="article-skeleton__img"></div>

  <div class="article-skeleton__body">
    <div class="article-skeleton__date"></div>
    <div class="article-skeleton__title"></div>
    <div class="article-skeleton__tags">
      <div class="article-skeleton__tag"></div>
      <div class="article-skeleton__tag"></div>
      <div class="article-skeleton__tag"></div>
    </div>
    <div class="article-skeleton__text-lines">
      <div class="article-skeleton__text"></div>
      <div class="article-skeleton__text"></div>
      <div class="article-skeleton__text"></div>
    </div>
    <div class="article-skeleton__views">
      <div class="article-skeleton__view"></div>
      <div class="article-skeleton__view"></div>
    </div>
  </div>
</div>
